# Ignore system and user directories
../*
../../*
AppData/
Cookies/
Documents/
Downloads/
Pictures/
Videos/

# Ignore common unwanted files
*.lnk
*.log
*.DS_Store
node_modules/
dist/
*.exe
*.o

# Allow your project files
!../Local-Tourism-Promotion-Project-main/
.qodo

client_secret.json